# Results - Classification of simulated events
This notebook is the primary source of plots and tables for the classification part of the thesis, 
with the goal of keeping every table and figure as standardized as possible. (And who has the time to update
90 tables one by one anyway).

## Questions
* Descriptive statistics
    - Should descriptive statistics of the simulated data be included?\
    If so, how much? And should it be included for each fold in the k-fold cross-validation?
* Classification results
    - Breakdown of results based on event type? Single, double, close double?
    Reasonable to include in order to confirm the assumption that close doubles are the
    most difficult event type to classify correctly in simulated data
    Random state is included, so should be simple to reproduce the indices


## TODO
* Add dense network experiment
* Add cnn experiment
* Add pretrained experiment
* Combine the aggregated stats (means, stds etc.) into one df.
* Output aggregated df to tex in thesis repo
* Implement reproducing the validation indices for each fold based on the random seed from config

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
from master_scripts.data_functions import get_git_root
from master_scripts.analysis_functions import load_experiment, experiment_metrics_to_df
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Pre-processed simulated data - no additional modifications
This is the basic metrics for all the models trained on simulated data.
The basic pre-processing includes formatting and min-max normalization.

## Logistic regression

In [59]:
# Load logistic regression experiment
log_ex_id = "f0f36fe4060f"
log_ex = load_experiment(log_ex_id)
#log_model = tf.keras.models.load_model(repo_root + "models/" + log_ex_id + ".h5")

log_metrics = experiment_metrics_to_df(log_ex)
display(log_metrics)
log_means = log_metrics.agg([np.mean, np.std])#.applymap('{:.3f}'.format)
log_means = log_means.rename(index={'mean': 'log_mean', 'std': 'log_std'})
display(log_means)

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
fold_0,0.732661,0.732133,0.465324,0.832972,139580,50431,51158,138831
fold_1,0.732082,0.730995,0.464178,0.832152,139863,50149,51660,138328
fold_2,0.732200,0.731559,0.464405,0.832358,139572,50440,51324,138664
fold_3,0.733416,0.733301,0.466832,0.833482,139431,50581,50721,139267
fold_4,0.732866,0.731449,0.465757,0.831870,140247,49765,51746,138242

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
log_mean,0.732645,0.731887,0.465299,0.832567,139738.600000,50273.200000,51321.800000,138666.400000
log_std,0.000538,0.000888,0.001074,0.000652,324.604837,324.482973,412.953024,413.052418

## Small dense network

In [60]:
# Load logistic regression experiment
dense_ex_id = "907f81f926e3"
dense_ex = load_experiment(dense_ex_id)
#log_model = tf.keras.models.load_model(repo_root + "models/" + dense_ex_id + ".h5")

dense_metrics = experiment_metrics_to_df(dense_ex)
display(dense_metrics)
dense_means = dense_metrics.agg([np.mean, np.std])#.applymap('{:.3f}'.format)
dense_means = dense_means.rename(index={'mean': 'dense_mean', 'std': 'dense_std'})
display(dense_means)

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
fold_0,0.931289,0.927141,0.868215,0.964995,187764,2247,23863,166126
fold_1,0.937963,0.934603,0.880576,0.966941,187975,2037,21537,168451
fold_2,0.941774,0.938900,0.887471,0.968700,187873,2139,19987,170001
fold_3,0.943555,0.940726,0.891170,0.969604,188346,1666,19783,170205
fold_4,0.943608,0.940808,0.891203,0.969400,188274,1738,19691,170297

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
dense_mean,0.939638,0.936435,0.883727,0.967928,188046.40000,1965.400000,20972.200000,169016.000000
dense_std,0.005200,0.005774,0.009693,0.001946,253.21789,252.939321,1781.994164,1781.588617

## Small CNN

In [61]:
# Load logistic regression experiment
cnn_ex_id = "660ec692e6d1"
cnn_ex = load_experiment(cnn_ex_id)
#log_model = tf.keras.models.load_model(repo_root + "models/" + cnn_ex_id + ".h5")

cnn_metrics = experiment_metrics_to_df(cnn_ex)
display(cnn_metrics)
cnn_means = cnn_metrics.agg([np.mean, np.std])#.applymap('{:.3f}'.format)
cnn_means = cnn_means.rename(index={'mean': 'cnn_mean', 'std': 'cnn_std'})
display(cnn_means)

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
fold_0,0.951995,0.949730,0.907673,0.983271,189440,571,17671,172318
fold_1,0.955653,0.953743,0.914418,0.985114,189418,594,16258,173730
fold_2,0.960218,0.958736,0.922812,0.985986,189266,746,14371,175617
fold_3,0.962647,0.961319,0.927475,0.987063,189426,586,13608,176380
fold_4,0.964474,0.963274,0.930928,0.987501,189456,556,12944,177044

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
cnn_mean,0.958997,0.957360,0.920661,0.985787,189401.200000,610.600000,14970.400000,175017.800000
cnn_std,0.005124,0.005564,0.009541,0.001687,76.949334,77.076585,1954.025665,1953.680168

## Pretrained - VGG
As an additional baseline for performance, we include a pretrained SOTA network
where trained on the ImageNet database.

Due to the size of our detector images (16x16) compared with the size the VGG network is
designed for, we cannot use all layers in the VGG network. This stems from the use of max-pooling
which effectively reduces the image size to half (8x8) each time the input is passed through such a
layer. At some point our input is too small to pass through to the rest of the network.
We therefore cut the network at the point where this becomes and issue.
Alternatively, one could possibly keep the depth but remove max-pooling layers.

In [75]:
# Load logistic regression experiment
pretrained_ex_id = "c96f61c743c2"
pretrained_ex = load_experiment(pretrained_ex_id)
#log_model = tf.keras.models.load_model(repo_root + "models/" + pretrained_ex_id + ".h5")

pretrained_metrics = experiment_metrics_to_df(pretrained_ex)
display(pretrained_metrics)
pretrained_means = pretrained_metrics.agg([np.mean, np.std])#.applymap('{:.3f}'.format)
pretrained_means = pretrained_means.rename(index={'mean': 'pretrained_mean', 'std': 'pretrained_std'})
display(pretrained_means)

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
fold_0,0.884926,0.870529,0.789605,0.933739,189264,747,42981,147008
fold_1,0.907403,0.902052,0.819700,0.949066,182786,7226,27961,162027
fold_2,0.905205,0.902705,0.811477,0.951145,176872,13140,22882,167106
fold_3,0.882782,0.884662,0.765974,0.944825,164630,25382,19161,170827
fold_4,0.912111,0.909292,0.825810,0.956346,179204,10808,22590,167398

,accuracy_score,f1_score,matthews_corrcoef,roc_auc_score,TN,FP,FN,TP
pretrained_mean,0.898485,0.893848,0.802513,0.947024,178551.200000,11460.600000,27115.000000,162873.200000
pretrained_std,0.013609,0.015909,0.024598,0.008505,9079.417448,9079.712429,9408.848256,9408.426686

## Combine the metrics into one table
We use the standard deviation in the folds as an error measure, and report the mean classification f1_score.

In [76]:
all_means = pd.DataFrame(
    [
        log_means.iloc[0][['f1_score', 'TN', 'FP', 'FN', 'TP']],
        dense_means.iloc[0][['f1_score', 'TN', 'FP', 'FN', 'TP']],
        cnn_means.iloc[0][['f1_score', 'TN', 'FP', 'FN', 'TP']],
        pretrained_means.iloc[0][['f1_score', 'TN', 'FP', 'FN', 'TP']]
    ]
).rename(
    index={
        'log_mean': 'Logistic',
        'dense_mean': 'Dense',
        'cnn_mean': 'Convolutional',
        'pretrained_mean': 'Pretrained VGG16',
    }
)
display(all_means)
all_std = pd.DataFrame(
    [
        log_means.iloc[1][['f1_score', 'TN', 'FP', 'FN', 'TP']],
        dense_means.iloc[1][['f1_score', 'TN', 'FP', 'FN', 'TP']],
        cnn_means.iloc[1][['f1_score', 'TN', 'FP', 'FN', 'TP']],
        pretrained_means.iloc[1][['f1_score', 'TN', 'FP', 'FN', 'TP']],
    ]
).rename(
    index={
        'log_std': 'Logistic',
        'dense_std': 'Dense',
        'cnn_std': 'Convolutional',
        'pretrained_std': 'Pretrained VGG16',
    }
)
display(all_std)

                  f1_score        TN       FP       FN        TP
Logistic          0.731887  139738.6  50273.2  51321.8  138666.4
Dense             0.936435  188046.4   1965.4  20972.2  169016.0
Convolutional     0.957360  189401.2    610.6  14970.4  175017.8
Pretrained VGG16  0.893848  178551.2  11460.6  27115.0  162873.2

                  f1_score           TN           FP           FN           TP
Logistic          0.000888   324.604837   324.482973   412.953024   413.052418
Dense             0.005774   253.217890   252.939321  1781.994164  1781.588617
Convolutional     0.005564    76.949334    77.076585  1954.025665  1953.680168
Pretrained VGG16  0.015909  9079.417448  9079.712429  9408.848256  9408.426686

### Output combined frame to latex
Check Robert's https://github.com/ATTPC/VAE-event-classification/blob/master/src/make_classification_table.py

In [81]:
columns=["F1-score", "True Negative", "False Positive", "False Negative", "True Positive"]
rows = all_means.index
perf_array = np.zeros(all_means.shape, dtype=object)
for i in range(all_means.shape[0]):
    for j in range(all_means.shape[1]):
        perf_array[i, j] = r"$\underset{{\num{{+- {:.3e} }}  }}{{\num{{ {:.3g} }} }}$".format(
            all_std.iloc[i, j], all_means.iloc[i, j])
        
df = pd.DataFrame(perf_array, columns=columns, index=rows)